<template name="menu">
    <header class="row">
      <img class="col-xs-4" src='/logo.png' />
      <h1 class="col-xs-8">Noughts&Crosses</h1>
    </header>
    <section class="row" id="controls">
      {{> user_account}}
      {{#if currentUser}}
      {{/if}}
    </section>
    <section class="row" id="game">
      <p>
        <a id="join">Join a game</a> | <a id="start">Start a game</a> | <a id="reset">Quit Game</a> | <a id="invite">Invite to Game</a>
      </p>

      {{#if currentUser}}
        {{#each boxes}}
          {{> box}}
        {{/each}}
      {{/if}}

    </section>
</template>

<template name="box" class="row">
  <div class="box {{boxValue}} col-xs-3 col-3"></div>
</template>

<template name="layout">
<div class="container">
  <div id="main" class="row-fluid">
   {{> yield}}
 </div>
</div>
</template>


