body {
	margin: auto;
	background-color: #fff;
	font-family: 'Kite One', sans-serif;
}

header {
	text-align: left;
}

#sign-up-btn{
	margin-top: 10%;
}

header#thick {
	margin-top: 20%;
	margin-bottom: 5%;
}

header#thin {

}


footer#thick {
	margin-top: 40%;
}

h1 {
	font-size: 3rem;
	margin: 0;
	vertical-align: middle;
	padding-top: 2%;
}

h5 {
	text-align: center;
}

#game {
	max-width: 470px;
}

.box {
	position: relative;
	width: 30%;
	float: left;
	border-style: solid;
	border-color: #000;
	background-size: 100%;
	background-color: #fff;
	background-repeat: no-repeat;
	transition: background-color 0.5s;
}

.box:hover {
	background-color: #FFCCCC;
}

p.text:hover{
	color: #fff;
}

.box:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.empty {
	background-color: #FFF;
	opacity: .5;
}

.nought {
	background-image: url(nought.png);
	transition: opacity .25s ease-in-out;
	opacity: 1;
}

.cross {
	background-image: url(cross.png);
	opacity: 1;
}

.fadein, {
    
}


