

body {
	margin: auto;
	background-color: #fff;
	font-family: 'Kite One', sans-serif;
}


header {
	top: 0;
	text-align: left;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #F9F2FF;
	margin-bottom: 5%;
	max-height: 25px;
}

h1 {
	font-size: 2.5rem;
	margin: 0;
	vertical-align: middle;
	padding-top: 2%;
}



section#controls > p {
	float: left;
}


section {
	background-color: #fff;
}

#game {
	max-width: 470px;
}


.box {
	position: relative;
	width: 30%;
	float: left;
	border-style: solid;
	border-color: #000;
	background-size: 100%;
	background-color: #fff;
	background-repeat: no-repeat;
}

.box:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.empty {
	background-color: #FFF;
}

.nought {
	background-image: url(nought.png);
}

.cross {
	background-image: url(cross.png);
}


