

body {
	margin: auto;
	background-color: #fff;
	font-family: 'Kite One', sans-serif;
}


header {
	top: 0;
	text-align: left;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #F9F2FF;
	margin-bottom: 5%;
}

h1 {
	font-size: 2.5rem;
	margin: 0;
	vertical-align: middle;
	padding-top: 2%;
}



section#controls > p {

	float: left;

}


section {
	background-color: #fff;
}

.box {
	float: left;
	border-style: solid;
	border-color: #000;
	width: 30%;
	height: 90px;
	margin: auto;
	background-size: 100%;
	background-color: #fff;
	background-repeat: no-repeat;
}

.empty {
	background-color: #FFF;
}

.nought {
	background-image: url(nought.png);
}

.cross {
	background-image: url(cross.png);
}


